# Dependency directories
node_modules

#Exclude drafts
# nothing to exclude right now

#Other files
app/npm-debug.json

#Config directory
app/config

# Files generated automatically with scss build
app/public/css
app/public/fonts