# Dependencies
node_modules

# Other files
app/npm-debug.json

# Config directory
app/config

# Files generated automatically with gulp
app/public/css
app/public/fonts
dist/

# coverage reports
coverage/
