#webmaster-profile {
    margin: 2%;
    padding: 45px 15px 15px 15px;
    text-align: center;
}

#webmaster-avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

#webmaster-name {
    font-size: 2em;
    font-family: sans-serif;
    @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.6em;
    }
}

#webmaster-about-link span{
    color: rgb(195, 195, 195);
}
