#adminLoginForm {
    max-width: 700px;
    margin: 0 auto;
    //border: 1px solid black;
    padding: 15px;
    #adminLoginButton {
        margin: 0 auto;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background-color: #dd243e;
        border: 0;
        padding: 10px 15px;
        color: #fff;
        width: 260px;
        cursor: pointer;
        font-size: 18px;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;

        &:focus {
            background-color: #e34359;
        }
    }

    #user-alert {
        line-height: 1.4;
        text-align: center;
        padding-top: 30px;
        font-size: 14px;
    }

    #token-alert {
        font-size: 12px;
        text-align: center;
        color: #717171;
        margin-bottom: 0;
    }

    span.alert-symbol {
        color: #dd243e;
    }
}
