@import "../vendors/_froala_editor.pkgd.min.scss";
@import "../vendors/_froala_style.min.scss";
body {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: calc(100% + 19px);
}

nav,
nav ul,
nav li,
nav a {
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
}

nav > ul > li {
    transition: .2s;
    &:hover {
        background-color: #e3e3e3;
    }
}

nav > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    //border-bottom: 1px solid #5e071b;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    @media screen and (max-width: 767px) {
        padding-right: 0;
        margin: 0 auto;
        width: 160px;
    }
}

nav a {
    line-height: 1.3;
}

nav > ul > li > a > span {
    padding: 10px;
    display: block;
    font-size: 13px;
    font-weight: 300;
    @media screen and (max-width: 767px) {
        padding-right: 0;
    }
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav ul ul li.even {
    background: #fff;
}

nav ul ul li {
    //border: 1px solid #e0e0e0;
    border-top: 0;
    transition: .2s;
}

nav ul ul a {
    padding: 15px;
    display: block;
    font-size: 13px;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

nav a {
    line-height: 1.3;
}

nav ul ul li.odd {
    background: #f4f4f4;
}

nav > ul > li.active {
    border-bottom: none;
}

nav > ul > li > a > span.cnt {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 10px;
    color: #D86612;
    @media screen and (max-width: 767px) {
        right: -40px;
        width: 0;
    }
}

nav > ul ul > li > a > span.cnt {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 0;
    margin: 0;
    background: none;
    font-weight: 700;
}

#menu-placeholder {
    padding: 0;
    position: fixed;
    z-index: 1000;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
    margin-left: -100%;
    @media screen and (max-width: 767px) {
        border: 0;
        width: 360px;
        box-shadow: none;
    }
    @media screen and (max-width: 360px) {
        width: 100%;
    }
}

#jumbotron {
    position: absolute;
    padding-left: 1.25em;
    font-size: 29px;
    margin-top: 13px;
    z-index: 91;
    height: 30px;
    @media screen and (max-width: 767px) {
        display: block;
    }
}

#jumbotron:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 20px;
    height: 0.1em;
    background: black;
    box-shadow: 0 0.2em 0 0 black, 0 0.41em 0 0 black;
}

nav ul ul li:hover {
    background-color: #e3e3e3;
}

#screen {
    max-height: 80%;
    @media screen and (max-width: 767px) {
        margin-top: 15px;
    }
}

#main-content {
    padding-top: 60px;
    padding-bottom: 10px;
    border-top: 2px solid #000;
}

#cards-placeholder {
    padding-left: 0;
    padding-top: 25px;
    li {
        list-style: none;
        border: 1px solid black;
        height: 110px;
        margin-bottom: 15px;
    }
}

.glyphicon {
    margin-right: 15px;
}

#webmaster {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(53, 167, 186, 0.9);
    color: #fff;
    @media screen and (max-width: 767px) {
        padding-bottom: 40px;
    }
}

#webmaster-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    background-image: url("http://67.media.tumblr.com/fad1e6baa5c3bac246e258df4f9103f3/tumblr_mvj0dccSnC1s3lf4oo1_500.jpg");
    margin-left: 10px;
    display: inline-block;
    @media screen and (max-width: 767px) {
        margin: 0 auto;
        display: block;
        width: 75px;
        height: 75px;
    }
}

#webmaster-name {
    display: inline-block;
    width: 55%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    padding-bottom: 10px;
    @media screen and (max-width: 767px) {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: auto;
        font-weight: 700;
    }
}

#close-menu {
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgba(0, 0, 0, 0.75);
    padding: 15px;
    transition: .2s;
    cursor: pointer;
    &:hover {
        color: rgba(0, 0, 0, 0.35);
    }
    @media screen and (max-width: 759px) {
        right: 20px;
    }
    @media screen and (max-width: 360px) {
        right: 15px;
    }
    @media screen and (max-width: 320px) {
        right: 0;
    }
}

.full-li {
    padding-right: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 95;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: none;
    /*dim the background*/
}

.ripple-btn {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-color: #adadad;
    pointer-events: none;
    animation: scale-in .4s ease-in-out;
    opacity: 0;
}

@keyframes scale-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        opacity: 0;
    }
}

.sub-category {
    &:hover {
        background-color: inherit;
    }
}

.sub-category-options {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    //border: 1px solid black;
    transition: .4s;
    .glyphicon {
        padding-right: 0;
    }
    &:hover {
        color: #D51941;
    }
    .sub-icon {
        position: absolute;
        margin-left: -18px;
        margin-top: 7px;
        opacity: 0;
    }
    &:focus {
        animation-name: sub-category-click;
        animation-duration: .6s;
    }
}

.sub-category-back {
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        color: inherit;
    }
}

@keyframes sub-category-click {
    100% {
        transform: scale(1.5);
        color: #ddd;
        opacity: 0.3;
    }
}

#posts-submenu,
#subscriptions-submenu,
#comments-submenu {
    margin-left: 500px;
    position: absolute;
    width: 100%;
}

#container {
    padding-left: 0;
    padding-right: 0;
}

#app-bar {
    height: 60px;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    left: 0;
    right: 0;
    z-index: 90;
    border-top: 2px solid rgba(0, 0, 0, 0.83);
    background-color: #fbfbfb;
    #left-region,
    #right-region {
        list-style: none;
        li {
            display: inline-block;
        }
    }
    #left-region {
        padding-left: 40px;
        @media screen and (max-width: 360px) {
            padding-left: 25px;
        }
        #sidebar-reveal {
            position: absolute;
            height: 100%;
            line-height: 60px;
        }
        #blog-name {
            position: absolute;
            padding-left: 50px;
            @media screen and (max-width: 360px) {
                padding-left: 40px;
            }
        }
    }
    #right-region {
        font-size: 19px;
        line-height: 60px;
        @media screen and (max-width: 360px) {
            padding-right: 0;
        }
        li {
            float: right;
            padding-right: 20px;
            @media screen and (max-width: 360px) {
                padding-right: 10px;
            }
        }
    }
}

#new-post {
    //border: 1px solid black;
    margin: 0 auto;
    float: none;
    margin-top: 50px;
    margin-bottom: 50px;
    &-form {
        max-width: 750px;
        margin: 0px auto;
        #title {
            text-align: center;
            font-size: 25px;
            padding-bottom: 10px;
            font-family: 'Open Sans Condensed', 'Ubuntu', sans-serif;
        }
        #post-type {
            width: 50%;
            margin: 0px auto;
            input[type="radio"] {
                display: none;
                &:checked + label {
                    background-color: #56CE97;
                    color: #fff;
                    border-color: #fff;
                }
            }
            label {
                border: 1px solid rgba(0, 0, 0, 0.2);
                text-align: center;
                font-size: 21px;
                padding: 20px 20px 20px 35px;
                cursor: pointer;
                margin-right: 10px;
                margin-bottom: 40px;
                transition: .4s;
                display: block;
                margin: 0 auto 20px;
            }
        }
        #action-buttons {
            width: 50%;
            margin: 0 auto;
            padding-top: 10px;
            #next-option {
                span {
                    margin-right: 0;
                }
            }
        }
        #post-title {
            width: 50%;
            margin: 0 auto 10px;
            #title-preview {
                text-align: center;
                display: none;
                word-wrap: break-word;
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
            input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid #000;
                background-color: inherit;
                transition: .2s;
                padding: 10px;
                letter-spacing: 2px;
                text-align: center;
                &:focus {
                    border-bottom: 3px solid rgba(66, 150, 177, 0.85);
                }
            }
        }
        #post-content {
            padding-right: 20px;
            padding-left: 20px;
            &-image {
                #image-select {
                    margin: 0 auto;
                }
                #image-preview {
                    padding: 10px;
                    width: 100%;
                }
            }
            &-video {
                #video-select {
                    border: 0;
                    border-bottom: 1px solid #000;
                    margin: 0 auto 10px;
                    background-color: inherit;
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                #video-preview {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url('http://www.umoatitres.org/sites/all/themes/kyziah/img/picture-4x3.svg');
                }
            }
            &-quote {
                #quote-input {
                    width: 100%;
                    border: 1px solid black;
                    background-color: inherit;
                    padding: 10px;
                    font-size: 16px;
                    letter-spacing: 2px;
                    resize: none;
                }
            }
        }
        #submit-btn {
            margin: 0 auto;
            display: block;
            background-color: inherit;
            border: 2px solid rgba(0, 0, 0, 0.8);
            padding: 15px 60px;
        }
    }
}

.switch {
    width: 120px;
    height: 60px;
    position: relative;
    margin: 0px auto 20px;
    input[type="checkbox"] {
        position: absolute;
        left: -1000px;
    }
}

input.cmn-toggle-yes-no + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    cursor: pointer;
}

input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}

input.cmn-toggle-yes-no + label:before {
    background-color: #c3c3c3;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no + label:after {
    background-color: #5ac5bd;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no:checked + label:before {
    transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked + label:after {
    transform: rotateY(0);
}
