#comments-list {
    margin-left: -40px;
}

.single-comment {
    list-style: none;
    margin-bottom: 20px;
    padding: 10px 20px 10px;
    line-height: 25px;
    @media screen and (max-width: 767px) {
        background-color: #F5F5F5;
    }
    .user {
        padding-right: 10px;
        font-size: 14px;
        margin-left: -3px;
        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }
    .comment-body {
        font-size: 14px;
        color: rgb(110, 110, 110);
        border-left: 2px solid #000;
        padding-left: 10px;

        pre {
            background: rgba(0, 0, 0, 0) !important;
        }

        a {
            border-bottom: 1px dashed black;
        }
    }
}

.comment-heart {
    margin-top: 7px;
    cursor: pointer;
    color: rgb(143, 143, 143);
    &:hover {
        color: #2D2D2D;
    }
    &-count {
        margin-top: 2px;
        padding-right: 5px;
    }
}

.comment-post-date {
    font-size: 12px;
    padding-right: 10px;
    padding-top: 10px;
}
