include mixins/card_image.pug
include mixins/card_video.pug
include mixins/card_quote.pug

each post in _POST_LIST
    if post.post_type == 'quote'
        article(class="col-sm-4 quote")
            +quote-card(post)

    else 
        article(class="col-sm-4")
            .card
                if post.post_type == 'img'
                    +image-card(post)

                else
                    +video-card(post)