extends layout.pug

include mixins/card_image.pug
include mixins/card_video.pug
include mixins/card_quote.pug


block PAGE_TITLE
    title THE WALL | George G. Gkasdrogkas

block LOAD_CSS
    link(rel='stylesheet', type='text/css', href='../../css/main.css')

block HEADER_P
    p ... My.prototype.Blog(); ...

block MAIN_CONTENT
    section#post-content
        //- First load the admin's profile card

        - var no_posts_published = ''
        if Object.keys(_POST_LIST).length == 0
            - no_posts_published = 'no-posts-published'

        article(class='col-sm-4 '+no_posts_published, id='webmaster-banner')
            div(itemscope, itemtype="http://schema.org/Person", id="webmaster-profile")
                div(id="webmaster-avatar", style="background-image: url(" + _ADMIN_AVATAR + ")", itemprop="image")
                h2#webmaster-name GeorgeGkas
                p(itemprop="jobTitle") Front End developer
                p(itemprop="jobTitle") Web Designer
                a(id='webmaster-about-link', href="https://github.com/georgegkas", itemprop="url")
                    span <
                    |  Github ME
                    span  />

     
        - var postCount = 0
        each post in _POST_LIST
            if postCount == 0
                if post.post_type == 'quote'
                    article(class="col-sm-4 quote" id="feature-post")
                        h3#feature-post-title 
                            span(class="glyphicon glyphicon-star")
                            | Featured Post 
                            span(class="glyphicon glyphicon-star")
                        +quote-card(post)

                else 
                    article(class="col-sm-4")
                        h3#feature-post-title 
                            span(class="glyphicon glyphicon-star")
                            | Featured Post 
                            span(class="glyphicon glyphicon-star")
                        .card
                            if post.post_type == 'img'
                                +image-card(post)

                            else
                                +video-card(post)
                - postCount = postCount + 1

            else if postCount == 1
                if post.post_type == 'quote'
                    article(class="col-sm-4 quote" id="latest-post")
                        h3#latest-post-title Latest Posts
                        +quote-card(post)

                else 
                    article(class="col-sm-4")
                        h3#latest-post-title Latest Posts
                        .card
                            if post.post_type == 'img'
                                +image-card(post)

                            else
                                +video-card(post)
                - postCount = postCount + 1

            else 
                if post.post_type == 'quote'
                    article(class="col-sm-4 quote")
                        +quote-card(post)

                else 
                    article(class="col-sm-4")
                        .card
                            if post.post_type == 'img'
                                +image-card(post)

                            else
                                +video-card(post)

    p#no-more-posts Blog first launched at Aug 2016
    #load-more
        a(href="javascript:void(0);") 
            span(class="glyphicon glyphicon-chevron-down")


block LOAD_JS
    -
        jsList = ['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js',
                  'https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js',
                  '../../javascript/pages/index.min.js']
    each js in jsList
        script(src=js)
