doctype html
html
    head
        block PAGE_TITLE

        //- Meta First
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        block META

        //- Load main CSS
        link(rel="stylesheet" href='../../css/main.css')

        //- Load additional stylesheets
        block LOAD_CSS

    body
        .container
            header#page-header
                div(class="pull-left")
                    a(href=process.env.URL_PREFIX_PATH+"/", id="jumbotron")
                        span(class="glyphicon glyphicon-home")
                h1 THE WALL
                block HEADER_P
                    p 

            
            block MAIN_CONTENT


            footer#page-footer
                small Copyright  &copy; 2017 George G. Gkasdrogkas

        block LOAD_JS
