h3#feature-post-title,
h3#latest-post-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px; }
  @media screen and (max-width: 991px) {
    h3#feature-post-title,
    h3#latest-post-title {
      font-size: 12px; } }
  @media screen and (max-width: 767px) {
    h3#feature-post-title,
    h3#latest-post-title {
      font-size: 16px; } }
  @media screen and (max-width: 576px) {
    h3#feature-post-title,
    h3#latest-post-title {
      font-size: 14px; } }

#load-more {
  height: 60px;
  width: 120px;
  margin: 0 auto; }
  #load-more a {
    display: block;
    font-size: 29px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    line-height: 60px;
    padding-left: 5px;
    color: #2883A7;
    transition: 0.2s; }
    #load-more a:hover {
      transform: scale(1.3); }

#no-more-posts {
  width: 240px;
  font-size: 12px;
  margin: 0 auto; }

article {
  padding-bottom: 60px; }
  @media screen and (max-width: 767px) {
    article {
      position: relative !important;
      top: 0 !important;
      padding-bottom: 10px !important; } }

.card {
  margin: 2%;
  padding: 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 767px) {
    .card {
      padding-top: 5%;
      background-color: #fff; } }
  @media screen and (max-width: 576px) {
    .card {
      padding-top: 3%;
      background-color: #fff; } }

.card .block {
  padding-right: 5px; }

.card .posted-date {
  display: inline-block;
  width: 41%; }
  @media screen and (max-width: 767px) {
    .card .posted-date {
      width: 50%; } }
  @media screen and (max-width: 383px) {
    .card .posted-date {
      width: 40%; } }

#webmaster-profile {
  margin: 2%;
  padding: 45px 15px 15px 15px;
  text-align: center; }

#webmaster-avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto; }

#webmaster-name {
  font-size: 2em;
  font-family: sans-serif; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #webmaster-name {
      font-size: 1.6em; } }

#webmaster-about-link span {
  color: #c3c3c3; }

/* IMAGE POST CLASSES */
.image-card {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  cursor: default;
  text-align: center;
  background-color: #000; }
  .image-card a,
  .image-card p {
    transition: opacity .35s, transform .35s;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    color: #fff;
    filter: alpha(opacity=0); }
  .image-card:hover img {
    opacity: .4;
    filter: alpha(opacity=40); }
    @media screen and (max-width: 767px) {
      .image-card:hover img {
        opacity: .7; } }
  .image-card:hover a,
  .image-card:hover p {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100); }
  @media screen and (max-width: 767px) {
    .image-card {
      background: none; } }

.image-card .image-card-stats {
  position: absolute;
  top: 44%;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .image-card .image-card-stats .block {
    font-size: 19px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .image-card .image-card-stats .block {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .image-card .image-card-stats .block {
        color: #212121; } }
  @media screen and (max-width: 576px) {
    .image-card .image-card-stats {
      font-size: 16px; } }
  .image-card .image-card-stats p {
    padding-left: 15px; }
    @media screen and (max-width: 767px) {
      .image-card .image-card-stats p {
        color: #212121; } }

.image-card img {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: auto;
  transition: opacity .35s, transform .35s;
  backface-visibility: hidden; }

.image-date-placeholder {
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  background-color: #fff; }

.quote {
  font-size: 12px;
  padding: 0 30px 60px 30px; }
  .quote-card {
    padding-top: 40px;
    background-color: #fff; }
  .quote .post-title {
    margin: 0 30px 10px;
    color: #656565;
    text-transform: lowercase;
    font-size: 12px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .quote .post-title {
        margin-left: 10px; } }
    @media screen and (max-width: 767px) {
      .quote .post-title {
        margin-right: 10px; } }
  .quote blockquote {
    font-size: 13px;
    line-height: 1.6em;
    max-width: 230px;
    margin: 0 0 20px 30px;
    padding: 10px 20px;
    border-left: 2px solid #2a2a2a;
    letter-spacing: 0.2em; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .quote blockquote {
        margin: 0 0 20px 10px;
        padding: 10px 10px;
        word-wrap: break-word; } }
    @media screen and (max-width: 767px) {
      .quote blockquote {
        max-width: none; } }
    @media screen and (max-width: 576px) {
      .quote blockquote {
        word-wrap: break-word; } }
  @media screen and (max-width: 767px) {
    .quote {
      padding: 0 15px 10px; } }

.quote .quote-footer-with-pencil {
  font-size: 12px;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .quote .quote-footer-with-pencil {
      line-height: 30px;
      height: 80px; } }
  @media screen and (max-width: 272px) {
    .quote .quote-footer-with-pencil {
      height: 80px;
      line-height: 30px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .quote .quote-footer-with-pencil .posted-date {
      width: 40%;
      line-height: 30px; } }
  @media screen and (max-width: 349px) {
    .quote .quote-footer-with-pencil .posted-date {
      width: 41%; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .quote .quote-footer-with-pencil .quote-card-stats {
      width: 60%; } }
  @media screen and (max-width: 349px) {
    .quote .quote-footer-with-pencil .quote-card-stats {
      width: 59%; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .quote .quote-footer-with-pencil .block {
      display: block;
      /* &:first-child {
                float: left;
            }
            &:nth-child(2) {
                float: left;
            }
            &:nth-child(3) {
                display: inline;
            } */ } }
  @media screen and (max-width: 272px) {
    .quote .quote-footer-with-pencil .block {
      display: block; } }

.quote .quote-footer {
  font-size: 12px;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .quote .quote-footer .block {
      display: block; } }
  @media screen and (max-width: 272px) {
    .quote .quote-footer .block {
      display: block;
      line-height: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .quote .quote-footer {
      line-height: 30px; } }
  @media screen and (max-width: 272px) {
    .quote .quote-footer {
      line-height: 30px; } }

.quote-card-stats {
  display: inline-block;
  float: right;
  width: 59%; }
  @media screen and (max-width: 767px) {
    .quote-card-stats {
      width: 50%; } }
  @media screen and (max-width: 383px) {
    .quote-card-stats {
      width: 60%; } }

.video-footer-with-pencil {
  font-size: 12px;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .video-footer-with-pencil {
      line-height: 30px;
      height: 80px; } }
  @media screen and (max-width: 272px) {
    .video-footer-with-pencil {
      line-height: 30px;
      height: 80px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .video-footer-with-pencil .posted-date {
      width: 40%; } }
  @media screen and (max-width: 767px) {
    .video-footer-with-pencil .posted-date {
      width: 50%; } }
  @media screen and (max-width: 349px) {
    .video-footer-with-pencil .posted-date {
      width: 41%; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .video-footer-with-pencil .video-card-stats {
      width: 60%; } }
  @media screen and (max-width: 767px) {
    .video-footer-with-pencil .video-card-stats {
      width: 50%; } }
  @media screen and (max-width: 349px) {
    .video-footer-with-pencil .video-card-stats {
      width: 59%; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .video-footer-with-pencil .block {
      display: block; }
      .video-footer-with-pencil .block:first-child {
        text-align: left; }
      .video-footer-with-pencil .block:nth-child(2) {
        float: left; }
      .video-footer-with-pencil .block:nth-child(3) {
        margin-top: -30px;
        margin-left: 30px; } }
  @media screen and (max-width: 325px) {
    .video-footer-with-pencil .block {
      padding-right: 0; } }
  @media screen and (max-width: 272px) {
    .video-footer-with-pencil .block {
      display: block; } }

.video-footer {
  font-size: 12px;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .video-footer {
      line-height: 30px; }
      .video-footer .block {
        display: block; } }
  @media screen and (max-width: 292px) {
    .video-footer {
      padding-right: 0; } }
  @media screen and (max-width: 272px) {
    .video-footer {
      display: block;
      line-height: 30px; } }
  @media screen and (max-width: 272px) {
    .video-footer .block {
      display: inline-block; } }
  @media screen and (max-width: 767px) {
    .video-footer .video-card-stats {
      width: 50%; } }

.video-card-stats {
  display: inline-block;
  float: right;
  width: 59%; }
  @media screen and (max-width: 767px) {
    .video-card-stats .block {
      width: 50%; } }
  @media screen and (max-width: 383px) {
    .video-card-stats .block {
      width: 100%; } }
